RewriteEngine On

# Panel giriş
RewriteRule ^panel/?$ panel/index.php [L]

# API yönlendirme
RewriteRule ^api/v1/?(.*)$ api/index.php [QSA,L]
RewriteRule ^api/?(.*)$ api/index.php [QSA,L]

# Storage klasörüne erişimi engelle
RewriteRule ^api/storage/ - [F,L]

DirectoryIndex index.php
